


<style type="text/css">

h1.title {
  font-size: 34px;
  color: red;
  font-weight: normal;  
  text-align: center;
}

h1 {
  font-size: 28px;
  color: red;
  font-weight: normal;  
  text-align: center;
}

h3.subtitle {
  font-size: 26px;
  color: slateblue;
  text-align: center;
}

h4.author { /* Header 4 - and the author and data headers use this too  */
  font-size: 16px;
  color: Gray;
  text-align: center;
}

h4.date { /* Header 4 -   */
  font-size: 14px;
  color: Gray;
  text-align: center;
}

h3 {
  font-size: 24px;
  color: slateblue;
  text-align: center;
}

h3.heading {
  font-size: 24px;
  color: slateblue;
  text-align: center;
  font-style: italic;
}

footer {
font-size: 14px;
color: mediumblue;
}

h4 { /* Header 4 - and the author and data headers use this too  */
    font-size: 16px;
    text-align: center;
  }

</style>